<!DOCTYPE html>
{% load staticfiles i18n %}
<html>
<head>
  <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   <meta name="description" content="A web application for picking up a meeting time">
   <meta name="author" content="FlashHackers">
  <title>{% block title %}Meeting Secretary Login{% endblock %}</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/business-casual.css' %}" rel="stylesheet">
    {% block extra_head %}
    {% endblock %}
  <script src="http://ajax.aspnetcdn.com/ajax/jquery/jquery-3.2.0.min.js"></script>


</head>
<body>
  <header>
      <div class="tagline-upper text-center text-heading text-shadow text-white mt-5 d-none d-lg-block">Meeting Secretary</div>
    <div class="tagline-lower text-center text-expanded text-shadow text-uppercase text-white mb-5 d-none d-lg-block">A web application for easy meeting setup</div>


    <!--<h1>Meeting Secretary</h1>-->
<!-- print group created messages -->
    {% for message in messages %}
      <p class="{{ message.tags }}">{{ message }}</p>
    {% endfor %}

    {% if user.is_authenticated %}
      <div><a href="#menu-toggle" class="btn btn-secondary" id="menu-toggle">Menu</a></div>

    {% else %}
      <a href="{% url 'login' %}">login</a>
      <a href="{% url 'signup' %}">signup</a>
    {% endif %}
  </header>
    <div id="wrapper">
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a>
                        Hi {{user.first_name}}!
                    </a>
                </li>
                <li>
                    <a href="{% url 'home' %}">Home</a>
                </li>
                <li>
                    <a href="{% url 'calendar' %}">My Calendar</a>
                </li>
                <li>
                    <a href="{% url 'creategroup' %}">Create New Group</a>
                </li>
                <li>
                    <a href="/viewallgroups/">My Groups</a>
                </li>
                <li>
                    <a href="/inbox/">Inbox</a>
                </li>
                <li>
                    <a href="/profile/">My Profile</a>
                </li>
            </ul>
        </div>

        <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="bg-faded p-4 my-4">
            <div class="row">
              <div class="col-lg-12">

              {% block content %}

              {% endblock %}
            </div>
            </div>
            </div>
        </div>
    </div>

    <footer class="bg-faded text-center py-3">
      <div class="container">

          <a href="{% url 'logout' %}">logout</a><br>
        <p class="m-0">Copyright &copy; FlashyHackers 2017</p>
      </div>
        {% block footer%}
        {% endblock %}
    </footer>
  </div>
    <script src="{% static 'jquery_home/jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>

        <!-- Menu Toggle Script -->
        <script>
        $("#menu-toggle").click(function(e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
        </script>
</body>
</html>
