{% extends 'MS/base.html' %}

{% block title %}Create Group{% endblock %}

{% block content %}

{% if user.is_authenticated %}
<hr class="divider" align="left">
  <h2 class="text-lg text-uppercase my-0">
    <strong>Create a Group</strong>
  </h2>
<hr class="divider" align="left">
<form id = "" method="POST">
	{% csrf_token %}
<h3>Group Administrator</h3>
name:       {{user.username}} <br>
first name: {{user.first_name}} <br>
last name:  {{user.last_name}} <br>
email:      {{user.email}} <br> 
{{form.as_p}}
<button type="submit">Create!</button>
</form>
{% endif %}
{% endblock %}

{% block footer%}

{% endblock %}