{% extends 'MS/base.html' %}

{% block title %}Create Group{% endblock %}

{% block content %}

{% if user.is_authenticated %}
<hr class="divider" align="left">
  <h2 class="text-lg text-uppercase my-0">
    <strong>Create a Group</strong>
  </h2>

<hr class="divider" align="left">
<h3>Group Administrator</h3>
Username:       {{user.username}} <br>
First name: {{user.first_name}} <br>
Last name:  {{user.last_name}} <br>
Email:      {{user.email}} <br> 
<br>
<form id = "" method="POST">
	{% csrf_token %}
<p>Please Input your group name here: </p>
{{form.as_p}}
<button class= "btn btn-primary" type="submit">Create!</button>
</form>
{% endif %}
{% endblock %}

{% block footer%}

{% endblock %}