{% extends "MS/calendar_base.html" %}


{% load i18n static %}
{% block head_title %}{% trans "Fullcalendar" %}{% endblock %}

{% block tab_id %}id="home_tab"{% endblock %}

{% block extra_head %}
<link rel='stylesheet' type='text/css' href="{% static 'fullcalendar/dist/fullcalendar.css' %}" />
<link rel="stylesheet" href="{% static 'bootstrap/dist/css/bootstrap.css' %}" type="text/css" media="screen">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

<script type='text/javascript' src="{% static 'moment/moment.js' %}"></script>
<script type='text/javascript' src="{% static 'fullcalendar/dist/fullcalendar.js' %}"></script>
{% endblock %}

{% block body %}
<div id="body">
    <hr class="divider">
  <h2 class="text-lg text-uppercase my-0">
    <strong>My Calendar</strong>
  </h2>
<hr class="divider">
{% if messages %}
    <ul id="messages">
        {% for message in messages %}
        <li id="message_{{ forloop.counter }}"><a href="#" onclick="$('#message_{{ forloop.counter }}').fadeOut(); return false;"><small>{% trans "clear" %}</small></a> {{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}

<div id="calendar"></div>
<script type='text/javascript'>
    $(document).ready(function() {

        // page is now ready, initialize the calendar...
        $('#calendar').fullCalendar({
            // put your options and callbacks here
          events: '/schedule/api/occurrences?calendar_slug={{user.username}}'
        })

    });
</script>
</div>

{% endblock %}

{% block footer%}
<div id="footer">
    <a href="/create_event/{{user.username}}">add an event</a>
    <a href="{% url 'home' %}">home</a>
</div>
{% endblock %}
