{% extends 'MS/base.html' %}
{% load i18n staticfiles %}

{% block title %}Groups{% endblock %}
{% block extra_head %}
<script src="http://ajax.aspnetcdn.com/ajax/jquery/jquery-3.2.0.min.js"></script>
{% endblock %}

{% block content %}

<h4>Administrator: </h4>
<p>Members: </p>
<ol>
</ol>
Add a new member: <form id = "addnewmember" method = "POST">
	{% csrf_token %}
<input type="text" id = "newmembername">
<input type="submit" value = "send invitation">
</form>
<form id = "deletemember" method = "POST">
	{% csrf_token %}
<input type="text" id = "deletename">
<input type="submit" value = "delete a member">
</form>   
<script>
$(document).ready(function(){
		var url = window.location.href;
		var index = url.indexOf("groups") + 7;
		var group_name = url.substring(index);
		$("h2").append("<h2>" + group_name + "</h2>");
		$.ajax({
			type: 'POST',
			url: '/ajax/showgroup/',
			data: {group_name, csrfmiddlewaretoken:'{{ csrf_token}}'},
			dataType: 'json',
			success: function(data){
				$("h4").append(data['admin']);
				var count = data['member'].length;
				for (var i = 0; i < count; ++i)
					$("ol").append("<li>" + data['member'][i]+ "</li>");
					//"<button type='button'" + "onclick = deletemember('" + data[i] + "')" 
					//+ "value = " + "'"+ data[i] + "'"
					//+ "id = " + "'member"+ data[i] + "'"
					//+">delete</button>"+"</li>");

			}
		});
	});


</script>

<script>
		$("#addnewmember").submit(function(event){
			event.preventDefault();
			var url = window.location.href;
			var index = url.indexOf("groups") + 7;
			var group_name = url.substring(index);
			var memberid = document.getElementById('newmembername').value;
			//var messages = document.getElementById('messages').value;
			var operationuser = '{{ user.username }}'
			var messages = "User : {" + operationuser + "} invites you join group ["+ group_name + "]";
			$.ajax({
				type: "POST",
				url: "/ajax/addnewmember/",
				data: {group_name, memberid,messages,operationuser,csrfmiddlewaretoken: '{{ csrf_token }}'},
				dataType:'json',
				success:function(data){
					if(data['valid'] == 'true')
						alert("Your invitation is on the way!");
					else
						alert("Send failed.:(")
				}
			});
		});

		$("#deletemember").submit(function(event){
			event.preventDefault();
			var memberid = document.getElementById('deletename').value;
			var operationuser = '{{ user.username }}'
			var url = window.location.href;
			var index = url.indexOf("groups") + 7;
			var group_name = url.substring(index);
			$.ajax({
				type: "POST",
				url: "/ajax/deletemember/",
				data: {memberid,group_name,operationuser,csrfmiddlewaretoken: '{{ csrf_token }}'},
				dataType:'json',
				success:function(data){
					if(data['valid'] == 'true')
						alert("User "+ memberid + " has been removed from group " + group_name + "! Please refresh the page to see your group.");
					else
						alert("You have no authorization to delete people to this group.")
				}
			});
		});
</script>
{% endblock %}

{% block footer%}
{% endblock %}