{% extends 'MS/base.html' %}
{% load i18n staticfiles %}

{% block title %}Groups{% endblock %}
{% block extra_head %}
<script src="http://ajax.aspnetcdn.com/ajax/jquery/jquery-3.2.0.min.js"></script>
{% endblock %}

{% block content %}
<div class="container">
	<div class = "row" id="group_name">
	</div>
	<div class="row">
		<div class="col-md">
			<h4 id="admin-name">Administrator: </h4>
			
            <!-- Where we show the members -->
            <p>Members: </p>
			<ol>
			</ol>

            <!-- Only the admin could see the functionalities like delete member -->
            {% if is_admin == 1 %}
			Add a new member: <form id = "addnewmember" method = "POST">
				
                {% csrf_token %}
			<input type="text" id = "newmembername">
			<input type="submit" value = "send invitation">
			</form>
			<form id = "deletemember" method = "POST">
				{% csrf_token %}
			<input type="text" id = "deletename">
			<input type="submit" value = "delete a member">
			</form>   
			<form  id="searchtime">
				<div class="form-row align-items-center">
					<div class="col-auto">
					<label class="mr-sm-2" for="inlineFormInputStartTime">Start Time: </label>
					<input type="text" class="form-control" id="inlineFormInputStartTime" value = "2017-11-25" required>
					</div>
					<div class="col-auto">
					<label class="mr-sm-2" for="inlineFormInputEndTime">End Time: </label>
					<div class="input-group mb-2 mb-sm-0">
						<input type="text" class="form-control" id="inlineFormInputEndTime" value = "2017-11-26" required>
					</div>
					</div>
					<div class="col-auto">
					<button type="submit" class="btn btn-primary">Search available time slots</button>
					</div>
				</div>
			</form>
			
				<ul class="list-group" id="time-slots-list">
				<li class="list-group-item">Available Time:</li>
			
				</ul>
				<div class="row">
					<button class="btn btn-primary" id="add-a-meeting" data-toggle="modal" data-target="#exampleModal" data-whatever="group_name">Add a meeting</button>
			    </div>
            {% endif %}
			<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">New meeting</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					</div>
					<div class="modal-body">
					<form>
						<div class="form-group">
						<label for="title" class="col-form-label">Title:</label>
						<input type="text" class="form-control" id="title" value="study">
						</div>
						<div class="form-group">
						<label for="start-time" class="col-form-label">Start time:</label>
						<input class="form-control" id="start-time" value="2017-12-04"></input>
						</div>
						<div class="form-group">
							<label for="end-time" class="col-form-label">End time:</label>
							<input class="form-control" id="end-time" value="2017-12-05"></input>
					</div>
					<div class="form-group">
							<label for="description" class="col-form-label">Description: </label>
							<textarea class="form-control" id="description" value="study"></textarea>
					</div>
					</form>
					</div>
					<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary" id="sendinvitation">Send Invitation to your member!</button>
					</div>
				</div>
				</div>
			</div>
		</div>
		<div class="col-md" id = "meeting-cards">
				
		</div>
	</div>
</div>
<div class="modal fade" id="MeetingInfoModal" tabindex="-1" role="dialog" aria-labelledby="MeetingInfoModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
			<h5 class="modal-title" id="MeetingInfoModal">Meeting Infomation</h5>
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
			</div>
			<div class="modal-body">
			<form>
				<div class="form-group">
				<label for="title" class="col-form-label">Title:</label>
				<input type="text" class="form-control" id="mi-title">
				</div>
				<div class="form-group">
				<label for="start-time" class="col-form-label">Start time:</label>
				<input class="form-control" id="mi-start-time"></input>
				</div>
				<div class="form-group">
					<label for="end-time" class="col-form-label">End time:</label>
					<input class="form-control" id="mi-end-time"></input>
			</div>
			<div class="form-group">
					<label for="description" class="col-form-label">Description: </label>
					<textarea class="form-control" id="mi-description"></textarea>
			</div>
			</form>
			</div>
			<div class="modal-footer">
			<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			<button type="button" class="btn btn-primary" id="changeinformation">Change the information</button>
			</div>
		</div>
		</div>
	</div>
<h2></h2>


<script>
	$("#sendinvitation").on('click', function(){
		var url = window.location.href;
		var index = url.indexOf("groups") + 7;
        var end_index = url.length - 1;
		var group_name = url.substring(index, end_index);
		var title = document.getElementById("title").value;
		var description = document.getElementById("description").value;
		var start_time = document.getElementById("start-time").value;
		var end_time = document.getElementById("end-time").value;
		$.ajax({
			type: 'POST',
			url: '/ajax/addmeeting/',
			data: {group_name, title, description, start_time,end_time, csrfmiddlewaretoken:'{{ csrf_token}}'},
			dataType: 'json',
			success: function(data) {
				alert("add meeting success\ninvitations are on the way");
			}
		});

	});
$(document).ready(function(){
		var url = window.location.href;
		var index = url.indexOf("groups") + 7;
        var end_index = url.length - 1;
		var group_name = url.substring(index, end_index);
		var groupName = document.createElement("h2");
		groupName.innerHTML = group_name; 
		$("#group_name").append(groupName);
		$.ajax({
			type: 'POST',
			url: '/ajax/showgroup/',
			data: {group_name, csrfmiddlewaretoken:'{{ csrf_token}}'},
			dataType: 'json',
			success: function(data){
				$("#admin-name").append(data['admin']);
				var count = data['member'].length;
				for (var i = 0; i < count; ++i)
					$("ol").append("<li>" + data['member'][i]+ "</li>");
			}
		});
		$.ajax({
			type: 'POST',
			url: '/ajax/showmeeting/',
			data: {group_name, csrfmiddlewaretoken:'{{ csrf_token}}'},
			dataType: 'json',
			success: function(data){
				var meeting_count = data.length;
				if (meeting_count == 0) {
					var para = document.createElement('p');
					para.innerHTML="Your group has no meeting for now";
					$("#meeting-cards").append(para);
				}
				else {
					for (var i = 0; i < meeting_count; ++i) {
                        id = data[i]['id'];
						title = data[i]['title'];
						description = data[i]['description'];
						start_time = data[i]['start_time'];
						end_time = data[i]['end_time'];
						show_data = [];
						show_data.push(title);
						show_data.push(description);
						show_data.push(start_time);
						show_data.push(end_time);
                        show_data.push(id);
						var card = document.createElement('div');
						card.setAttribute("class","card");
						card.setAttribute("style","width: 20rem;");
						var card_body = document.createElement('div');
						card_body.setAttribute("class","card-body");
						var meeting_title = document.createElement('h4');
						meeting_title.setAttribute("class","card-title");
						meeting_title.innerHTML = title;
						var meeting_time = document.createElement('p');
						meeting_time.setAttribute("class","card-text");
						meeting_time.innerHTML=start_time + '-' + end_time;
						var meeting_description = document.createElement('p');
						meeting_description.setAttribute("class","card-text");
                        meeting_description.innerHTML = 'Description:<br>';
                        meeting_description.innerHTML += '&nbsp;&nbsp;&nbsp;&nbsp;';
						meeting_description.innerHTML += description;

                        
                        /* bai! show the meeting members */
						var meeting_members_div = document.createElement('p');
                        meeting_members_div.setAttribute("class", "card-text");
						meeting_members = data[i]['meetingmembers'];
                        meeting_members_div.innerHTML = 'Meeting members:<br>';
                        for (var j = 0; j < meeting_members.length; j++) {
                            meeting_members_div.innerHTML += '&nbsp;&nbsp;&nbsp;&nbsp;';
                            meeting_members_div.innerHTML += meeting_members[j];
                            meeting_members_div.innerHTML += '<br>';
                        }
                        var meeting_delete = document.createElement('button');
                        meeting_delete.setAttribute("class", "btn btn-primary");
                        meeting_delete.innerHTML = "Delete";
                        meeting_delete.onclick = function(){ delete_meeting(show_data)};
    

						var meeting_view = document.createElement('button');
						meeting_view.setAttribute("class","btn btn-primary");
						meeting_view.innerHTML = "Change";
						meeting_view.onclick = function(){ change_meeting(show_data)};
                        	
                        card_body.appendChild(meeting_title);
						card_body.appendChild(meeting_time);
						card_body.appendChild(meeting_description);
                        card_body.appendChild(meeting_members_div);
                        {% if is_admin == 1 %}
                        card_body.appendChild(meeting_view);
                        card_body.appendChild(meeting_delete);
                        {% endif %}
						card.appendChild(card_body);
						$("#meeting-cards").append(card);
					}
				}
			}
		});
	});


</script>

<script>
		$("#addnewmember").submit(function(event){
			event.preventDefault();
			var url = window.location.href;
			var index = url.indexOf("groups") + 7;
            var end_index = url.length - 1;
			var group_name = url.substring(index, end_index);
			var memberid = document.getElementById('newmembername').value;
			//var messages = document.getElementById('messages').value;
			var group_admin = '{{ user.username }}'
			$.ajax({
				type: "POST",
				url: "/ajax/addnewmember/",
				data: {group_name, group_admin, memberid, csrfmiddlewaretoken: '{{ csrf_token }}'},
				dataType:'json',
				success:function(data){
					if(data['valid'] == 'true')
						alert("Your invitation is on the way!");
					else
						alert("Send failed.:(")
				}
			});
		});

		$("#deletemember").submit(function(event){
			event.preventDefault();
			var memberid = document.getElementById('deletename').value;
			var operationuser = '{{ user.username }}'
			var url = window.location.href;
			var index = url.indexOf("groups") + 7;
			var group_name = url.substring(index);
			$.ajax({
				type: "POST",
				url: "/ajax/deletemember/",
				data: {memberid,group_name,operationuser,csrfmiddlewaretoken: '{{ csrf_token }}'},
				dataType:'json',
				success:function(data){
					if(data['valid'] == 'true')
						alert("User "+ memberid + " has been removed from group " + group_name + "! Please refresh the page to see your group.");
					else
						alert("You have no authorization to delete people to this group.")
				}
			});
		});


		$("#searchtime").submit(function(event){
			event.preventDefault();
			var start_time = document.getElementById("inlineFormInputStartTime").value;
			var end_time = document.getElementById("inlineFormInputEndTime").value;
			var url = window.location.href;
			var index = url.indexOf("groups") + 7;
			var group_name = url.substring(index);
			$.ajax({
				type: "POST",
				url: "/ajax/find_time/",
				data: {start_time, end_time, group_name, csrfmiddlewaretoken: '{{ csrf_token }}'},
				dataType: 'json',
				success: function(data) {
					alert("success");
					alert(data['slots']);
					var slot_count = data['slots'].length;
					alert(slot_count);
					for (var i = 0; i < slot_count; ++i) {
						alert(data['slots'][i]);
						var start = data['slots'][i][0];
						var end = data['slots'][i][1];
						//add time converter;
						$("#time-slots-list").append("<li class = 'list-group-item list-group-item-action'>"+ start + "-" + end +"</li>");
					}
				}
			});
		});

		function change_meeting(show_data){
			$("#MeetingInfoModal").on('show.bs.modal', function () {
				//var modal = $(this);
				var title = document.getElementById('mi-title');
				title.setAttribute("value",show_data[0]);
				var description = document.getElementById('mi-description');
				description.setAttribute("value",show_data[1])
				var start_time = document.getElementById('mi-start-time');
				start_time.setAttribute("value",show_data[2]);
				var end_time = document.getElementById('mi-end-time');
				end_time.setAttribute("value",show_data[3]);
			    var id = show_data[4];

                // bai!
                $("#changeinformation").on('click', function(){
                    var url = window.location.href;
                    var index = url.indexOf("groups") + 7;
                    var end_index = url.length - 1;
                    var group_name = url.substring(index, end_index);
                    var changed_title = document.getElementById("mi-title").value;
                    var changed_description = document.getElementById("mi-description").value;
                    var changed_start_time = document.getElementById("mi-start-time").value;
                    var changed_end_time = document.getElementById("mi-end-time").value;
                    $.ajax({
                        type: 'POST',
                        url: '/ajax/changemeeting/',
                        data: {group_name, changed_title, changed_description, changed_start_time, changed_end_time, id, csrfmiddlewaretoken:'{{csrf_token}}'},
                        dataType: 'json',
                        success: function(data) {
                            alert("change meeting success!\nnotifications are on the way");
                        }
                    });
                });
			});
			$("#MeetingInfoModal").modal('show');	
		}
    
        // bai!
        function delete_meeting(show_data){
            var id = show_data[4];
            $.ajax({
                type: 'POST',
                url: '/ajax/deletemeeting/',
                data: {id, csrfmiddlewaretoken:'{{csrf_token}}'},
                dataType: 'json',
                success: function(data) {
                    alert("delete meeting success!\nnotifications are on the way.");
                }
            });
        }
</script>
{% endblock %}

{% block footer%}
{% endblock %}
