{% extends 'MS/base.html' %}

{% block title %}Personal Home{% endblock %}

{% block content %}
  {% if user.is_authenticated %}
<div class="row">
    <div class="col-lg-4">
        <hr class="divider" align="left">
      <h2 class="text-lg text-uppercase my-0">
        <strong>Home Page</strong>
      </h2>
        <hr class="divider" align="left">
        <div class="my-0">Hi {{user.first_name}}. Welcome! 
          <p id ="date"></p>
        </div>

        <script>
        var weekday = new Array(7);
        weekday[0] =  "Sunday";
        weekday[1] = "Monday";
        weekday[2] = "Tuesday";
        weekday[3] = "Wednesday";
        weekday[4] = "Thursday";
        weekday[5] = "Friday";
        weekday[6] = "Saturday";

        n =  new Date();
        y = n.getFullYear();
        m = n.getMonth() + 1;
        d = n.getDate();
        var month_name = new Array(12);
        month_name[0] = "January";
        month_name[1] = "Febuary";
        month_name[2] = "March";
        month_name[3] = "April";

        month_name[4] = "May";
        month_name[5] = "June";
        month_name[6] = "Jul";
        month_name[7] = "August";
        month_name[8] = "September";
        month_name[9] = "October";
        month_name[10] = "November";
        month_name[11] = "December";

        var day = weekday[n.getDay()];
        var month = month_name[n.getMonth()];
        document.getElementById("date").innerHTML = "Today is " + month + " " + d + ", " + y + " " + day + ".";
        </script>
    </div>
    <div class="col-lg-4">
  <h2>Personal Profile</h2>
		Username:       {{user.username}} <br>
		First name: {{user.first_name}} <br>
	    Last name:  {{user.last_name}} <br>
	    Email:      {{user.email}} <br> 
    {% if from_change == "success" %}
		<br>
	    <div id="change">Change success!</div>
    </div>
    <div class="col-lg-4">
    </div>
    {% endif %}
</div>
  {% else %}
        <p>Please to log in or sign up an account to enter this site. </p>
        <p>If you have an account, you can <mark><a href="{% url 'login' %}">log in</a></mark>here.</p>
        <p>Or you can <mark><a href="{% url 'signup' %}">sign up</a></mark> an account to own your Meeting Secretary!</p>
        
        
  {% endif %}

{% endblock %}

{% block footer %}

{% endblock %}
