{% extends 'MS/base.html' %}
{% load i18n staticfiles %}

{% block title %}user's inbox{% endblock %}

{% block content %}
<hr class="divider" align="left">
  <h2 class="text-lg text-uppercase my-0">
    <strong>Inbox</strong>
  </h2>
<hr class="divider" align="left">

<div class="container">
    <div class="row">
      <div class="col-md">
          <h3>Notifications</h3>
          <ul class="list-group" id="nf_list"></ul>>
      </div>
    </div>
    <div class="row">
      <div class="col-md">
          <h3>Group Invitations</h3>
          <ul class = "list-group" id="gi_list">    
              <div class="modal fade" id="GroupInvitationModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Group Invitation</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                        
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-success" data-dismiss="modal" id = "accept_gi">Accept</button>
                        <button type="button" class="btn btn-outline-danger" data-dismiss="modal" id = "reject_gi">Reject</button>
                        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>
            </ul>>
      </div>
      <div class="col-md">
        <h3>Meeting Invitations</h3>>
      </div>
    </div>
  </div>



<script>
    function opennew(groupname){		
		  window.location = '/groups/' + groupname;
	  }
  </script>

<script>

  $(document).ready(function(){
    var username = '{{user.username}}';
    /******************************/
    /*   read all notifications   */
    /******************************/
    $.ajax({
      type: 'POST',
      url: '/ajax/viewnotification/',
      data: {username, csrfmiddlewaretoken:'{{ csrf_token}}'},
      dataType: 'json',
      success: function(data){
        var message_count = data.length;
        if (message_count == 0) 
          $("#nf_list").append("You have no notifications for now. Take a break.   :-)");
        else {
          for (var i = 0; i < message_count; ++i) { 
            var content = data[i]['content'];
            var sent_at = data[i]['sent_at'];
            $("#nf_list").append("<li class = 'list-group-item list-group-item-action'>"+content+"</li>");
        }
        }
        
      }
    });
    /******************************/
    /* read all group invitations */
    /******************************/
    $.ajax({
      type: 'POST',
      url: '/ajax/viewgroupinvitation/',
      data: {username, csrfmiddlewaretoken:'{{ csrf_token}}'},
      dataType: 'json',
      success: function(data){
        var invitation_count = data.length;
        if (invitation_count == 0) 
          $("#gi_list").append("You have no invitations for now. Take a break.  :-)");
        else {
          for (var i = 0; i < invitation_count; ++i) {
            var status = data[i]['status'];
            if (status == 'NO') {
              $("#gi_list").append(
                "<li class = 'list-group-item'>"+ data[i]['admin'] + " invites you to join group " + data[i]['group'] + 
                ".<td><button type = 'button' class='btn btn-primary' onclick = group_handler('"+ data[i]['group'] +"')"+">view</button></td></li>"
                );              
            }
            else if (status == 'AC'){
              $("#gi_list").append("<li class = 'list-group-item disabled'> You have joined group " + data[i]['group'] + ".</li>");
            }
            else if (status == 'RJ'){
              $("#gi_list").append("<li class = 'list-group-item disabled'> You have rejected the invitation of group " + data[i]['group'] + ".</li>");
            }
          }
        }        
      }
    });
  });

     

  function group_handler(groupname) {
      var username = '{{user.username}}';
      var group_name = groupname;
      $("#GroupInvitationModal").on('show.bs.modal', function () {
        var modal = $(this);
        modal.find('.modal-body').text('Will you accept the invitation from group '+ group_name + '?');
          $("#accept_gi").on('click', function () {     
            $("#GroupInvitationModal").modal('hide');       
            $.ajax({
                type: 'POST',
                url: '/ajax/accept/',
                data: {username, group_name, csrfmiddlewaretoken:'{{ csrf_token}}'},
                dataType: 'json',
                success: function(data){
                  if(data['valid'] == 'true')
                      alert("You have joined group "+ groupname + " successfully! Please refresh to check your groups.");
                  else 
                    alert("Something happened. :(");				
                }
            }); 
          });

          $("#reject_gi").on('click', function () {            
            $.ajax({
                type: 'POST',
                url: '/ajax/rejectgroup/',
                data: {username, group_name, csrfmiddlewaretoken:'{{ csrf_token}}'},
                dataType: 'json',
                success: function(data){
                  if(data['valid'] == 'true')
                      alert("You have rejected the invitation of group "+ groupname + " .  :-(");
                  else 
                    alert("Something happened. :(");				
                }
            }); 
          });
      });
      $("#GroupInvitationModal").modal('show');	
      
  }
</script>

{% endblock %}
