{% extends 'MS/base.html' %}
{% load i18n staticfiles %}

{% block title %}User Profile{% endblock %}

{% block content %}
<hr class="divider" align="left">
  <h2 class="text-lg text-uppercase my-0">
    <strong>My Profile</strong>
  </h2>
<hr class="divider" align="left">
<strong>Name:</strong>       {{user.username}} <br>
<strong>First name:</strong> {{user.first_name}} <br>
<strong>Last name:</strong>  {{user.last_name}} <br>
<strong>Email:</strong>      {{user.email}} <br>
<br>
<button class="btn btn-info" onclick = "{location.href='/change/password/'}">Change password</button>
<button class="btn btn-info" onclick = "{location.href='/change/information/'}">Change information</button>
<br>
{% endblock %}

{% block footer%}
{% endblock %}