{% extends 'MS/base.html' %}
{% load i18n staticfiles %}

{% block title %}user's group{% endblock %}

{% block content %}

<hr class="divider" align="left">
  <h2 class="text-lg text-uppercase my-0">
    <strong>My Groups</strong>
  </h2>
<hr class="divider" align="left">
<div class="row">
    <div class="col-lg-6">
        <h3>As Admin</h3>
        <ol id="admin"></ol>

        <form id = "deletegroup" method = "POST">
            {% csrf_token %}
        <input type="text" id = "deletegroupname">
        <input type="submit" value = "delete a group">
        </form>
    </div>

    <div class="col-lg-6">

        <h3>As Member</h3>
        <p id='member_groups'></p>
    </div>
</div>


<script>
    function opennew(groupname){		
		  window.location = '/groups/' + groupname;
	  }
  </script>

<script>

  $(document).ready(function(){
    var username = '{{user.username}}';
    $.ajax({
      type: 'POST',
      url: '/ajax/viewadmingroups/',
      data: {username, csrfmiddlewaretoken:'{{ csrf_token}}'},
      dataType: 'json',
      success: function(data){
        var admin_count = data['admin'].length;
        var admin = data['admin'];
        for (var i = 0; i < admin_count; ++i) {
          $("ol").append("<li>" + admin[i]+ "</li>");
          $("ol").append("<button type='button'" + "onclick = opennew('" + admin[i] + "')" + ">view</button>");      
        }
        var member_count = data['member'].length;

        var member = data['member'];
        for (var i = 0; i < member_count; ++i) {
          $("#member_groups").append("<li>" + member[i]+ "<td>" + 
          "<button type='button'" + "onclick = opennew('" + member[i] + "')" + ">view</button></td></li>");      
        }
      }
    });

    $("#deletegroup").submit(function(event){
			event.preventDefault();
      var groupid = document.getElementById('deletegroupname').value;
      alert(groupid);
      var operationuser = '{{ user.username }}'
			$.ajax({
				type: "POST",
				url: "/ajax/deletegroup/",
				data: {groupid, operationuser, csrfmiddlewaretoken: '{{ csrf_token }}'},
				dataType:'json',
				success:function(data){
          if(data['valid'] == 'true')
            alert("Group "+ groupid + " has been removed! Please refresh the page to see your groups.");
          else 
            alert("You have no authorization to delete this group.");
				}
			});
		});

  });
</script>

{% endblock %}

{% block footer%}
{% endblock %}