{% extends 'MS/base.html' %}
{% load i18n staticfiles %}

{% block title %}user's group{% endblock %}

{% block content %}

<hr class="divider" align="left">
  <h2 class="text-lg text-uppercase my-0">
    <strong>My Groups</strong>
  </h2>
<hr class="divider" align="left">
<div class="row">
    <div class="col-lg-6">
        <h3>As Admin</h3>
        <div class="row" id = "admin-groups"></div>
    </div>

    <div class="col-lg-6">
        <h3>As Member</h3>
        <div class="row" id = "member-groups"></div>        
    </div>
</div>


<script>
    function opennew(name) {	
	    window.location = '/groups/' + name;
	}

    function groupcalendar(groupname) {
        window.location = '/calendar/' + groupname;
    }
</script>

<script>

  $(document).ready(function(){
    var username = '{{user.username}}';
    $.ajax({
      type: 'POST',
      url: '/ajax/viewadmingroups/',
      data: {username, csrfmiddlewaretoken:'{{ csrf_token}}'},
      dataType: 'json',
      success: function(data){
        var admin_count = data['admin'].length;
        var admin = data['admin'];
        for (var i = 0; i < admin_count; ++i) {
            var card = document.createElement('div');
            card.setAttribute("class","card");
            card.setAttribute("style","widte: 15rem;");

            var card_body = document.createElement('div');
            card_body.setAttribute("class", "card-body");

            var group_name = document.createElement('p');
            group_name.setAttribute("class","card-title");
            group_name.innerHTML = admin[i];
            var view_group = document.createElement('button');
            view_group.setAttribute("class","btn btn-outline-primary");
            view_group.setAttribute("id", admin[i]);
            view_group.onclick = function() {
                opennew(this.id);
            };
            view_group.innerHTML="View";
            var nextline = document.createElement('br');
            var view_calendar = document.createElement('button');
            view_calendar.setAttribute("class", "btn btn-outline-primary");
            view_calendar.setAttribute("id", admin[i]);
            view_calendar.onclick = function() {
                groupcalendar(this.id);
            }
            view_calendar.innerHTML = "View Group Calendar";
            
            var delete_group = document.createElement('button');
            delete_group.setAttribute("class", "btn btn-outline-primary");
            delete_group.setAttribute("id", admin[i]);
            delete_group.onclick = function() {
                deletegroup(this.id);
            }
            delete_group.innerHTML = "Delete";

            card_body.appendChild(group_name);
            card_body.appendChild(view_group);
            card_body.appendChild(delete_group);
            card_body.appendChild(nextline);
            card_body.appendChild(view_calendar);
            card.appendChild(card_body);
            $("#admin-groups").append(card);
        }
        var member_count = data['member'].length;
        var member = data['member'];
        for (var i = 0; i < member_count; ++i) {
            var card = document.createElement('div');
            card.setAttribute("class","card");
            card.setAttribute("style","widte: 15rem;");

            var card_body = document.createElement('div');
            card_body.setAttribute("class", "card-body");

            var group_name = document.createElement('p');
            group_name.setAttribute("class","card-title");
            group_name.innerHTML = member[i];
            var view_group = document.createElement('button');
            view_group.setAttribute("class","btn btn-outline-primary");
            view_group.setAttribute("id",member[i]);
            view_group.onclick = function() {
                opennew(this.id);
            };
            view_group.innerHTML="View";

            var nextline = document.createElement('br');
            var view_calendar = document.createElement('button');
            view_calendar.setAttribute("class", "btn btn-outline-primary");
            view_calendar.setAttribute("id", member[i]);
            view_calendar.onclick = function() {
                groupcalendar(this.id);
            }
            view_calendar.innerHTML = "View Group Calendar";

            card_body.appendChild(group_name);
            card_body.appendChild(view_group);
            card_body.appendChild(nextline);
            card_body.appendChild(view_calendar);
            card.appendChild(card_body);
            $("#member-groups").append(card);
       }
      }
    });
  });
function deletegroup(groupid) {
    var operationuser = '{{ user.username }}'
			$.ajax({
				type: "POST",
				url: "/ajax/deletegroup/",
				data: {groupid, operationuser, csrfmiddlewaretoken: '{{ csrf_token }}'},
				dataType:'json',
				success:function(data){
                    if(data['valid'] == 'true') {
                       window.location.reload();
                    }
                    else if (data['valid'] == 'false-noright') {
                        alert("You have no authorization to delete this group.");
                    }                        
                    else
                        alert("The group doesn't exist.");
				}
			});
}

</script>

{% endblock %}

{% block footer%}
{% endblock %}
